.App {
  text-align: center;
}

.App-link, .App a {
  color: #3176fb;
}

.App-navigation {
  list-style: none;
    margin-right: 30px;
}

.App-navigation li {
  display: inline-block;
  margin-right: 10px;
}

.clickable {
  cursor: pointer;
}

.link {
  text-decoration: underline;
  color: #3176fb;
  cursor: pointer;
}

.align-left {
  text-align: left;
}